

.panel {
  position: relative;
  height: 100vh;
  width: 100vw;

  }

.horizontal {
    position: fixed;
    left: -85px;
    top: 50%;
    -webkit-transform: rotate(-90deg);
  }

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

.responsive-shape{
    height: 500px;
    width: 500px;
    border-radius: 400px;
    background-image: linear-gradient(-136deg, #F48381 0%, #FFC396 99%);
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}



.name {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .09em;
    font-size: 15vw;
    color: #fff;
  }
    @media screen and (min-width: 600px){
      .name{
        color: #FBE5D3;
      } 
 
  }



.welcome {
    font-size: 16px;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #FBE5D3;

  }


.about{
    background-color: #FBE5D3;
  }

.yo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #585858;
    width: 80vw;
    height: 80vh;
    font-size: 30px;
    line-height: 38px;
  }
