h1 {
	font-family: "europa",sans-serif;
	font-weight: 700;
	color: $black;
	letter-spacing: .01em;
	text-transform: uppercase;
	font-size: 300px;
	text-align: left;
	line-height: .9em;
	margin: 0px;
}
h2{
	font-family: 'Playfair Display', serif;
}



.name {
    font-size: 200px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .09em;
    
 
  }

 .welcome {

    font-size: 16px;
    text-align: center;
    letter-spacing: .09em;
    text-transform: uppercase;

  }

 .stage {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  }

  .horizontal {
  	position: fixed;
    left: -50px;
    top: 50%;
  	-webkit-transform: rotate(-90deg);
  }
