

.panel {
  position: relative;
  height: 600px;
  width: 100vw;
  }

.horizontal {
    position: fixed;
    left: -70px;
    top: 50%;
    -webkit-transform: rotate(-90deg);
  }

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

.content{
  border: solid 18px #7B7B7B;
}

.name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60vw;
    text-transform: uppercase;
    letter-spacing: .09em;
    font-size: 10vw;
    color: #7B7B7B;

  }
    @media screen and (min-width: 600px){
      .name{
        color: #ECECEC;
        text-align: center;
      } 
 
  }




.welcome {
    font-size: 16px;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #ECECEC;

  }



.yo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60vw;
    font-size: 16px;
    line-height: 28px;
    color: #7B7B7B;
  }

.subheader{
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(39,39,39,.04);
}