h1 {
  font-family: "europa",sans-serif;
  font-weight: 700;
  color: $black;
  letter-spacing: .01em;
  text-transform: uppercase;
  text-align: left;
  line-height: .9em;
  margin: 0px;
}

h2 {
  font-family: 'PT Mono',sans-serif;
  
}

h3{
  font-family: 'PT Mono',sans-serif;
  margin: 0;
}

p {
  font-family: 'PT Mono',sans-serif;
}



a::before {
  content: '';
  width: 0%;
  height: 4px;
  background: #ECECEC;
  position: absolute;
  bottom: -5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover::before {
  width: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
