@import url(https://fonts.googleapis.com/css?family=PT+Mono);


h1 {
  font-family: "europa",sans-serif;
  font-weight: 700;
  color: $black;
  letter-spacing: .01em;
  text-transform: uppercase;
  text-align: left;
  line-height: .9em;
  margin: 0px;
}

h2, h3, p, a {
  font-family: 'PT Mono',sans-serif;
  
}

h3{
  margin: 0;
}

p{
  color: #7B7B7B;
  font-size: 15px;
  line-height: 28px;
  font-family: 'PT Mono',sans-serif;
}

a{
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: #7B7B7B;
}