.background--image {
  /*background-color: #fff;*/
  background-image:url("/images/raleighfelton.jpg");
  background-position: center;

  @media screen and (min-width: 980px) {
    background-repeat:no-repeat;
    background-size: contain;
    height: 100vh;
  }
}
