h1, h2,h4, a, button {
  font-family: var(--font-family-bold);
}

h3, h5 {
  font-family: var(--font-family-serif);
}

h5 {
  font-style: italic;
}

h6, p {
  font-family: var(--font-family-regular);
}

h1 { font-size: var(--font-size-xxxl); }
h2 { font-size: var(--font-size-xxl); }

h3 {
  font-size: var(--font-size-xl);
  line-height: var(--spacing-xl);
}

h4 { font-size: 40px; }
h5 { font-size: var(--font-size-lg); }
h6 { font-size: var(--font-size); }

p {
  font-size: var(--font-size);
  line-height: var(--spacing-lg);
}

a {
  text-decoration: none;
}
