h1, h2, h4, a, button {
  font-family: var(--font-family-bold);
}

h3, h5 {
  font-family: var(--font-family-serif);
}

/*Font Sizes and Styles*/

h1 {
  /*font-size: var(--font-size-xxxl);*/
  @mixin rt 64, 120, 300 1024;
}

h2 {
  /*font-size: var(--font-size-xxl);*/
  @mixin rt 32, 64, 300 1000;
}

h3 {
  font-size: var(--font-size-xl);
  line-height: var(--spacing-xl);
}

h5 {
  /*font-size: var(--font-size-lg);*/
  @mixin rt 24, 32, 300 1000;
  font-style: italic;
}

h6, p {
  font-family: var(--font-family-regular);
}

h4 {
  font-size: 40px;
}

h6 {
  font-size: var(--font-size);
}

p {
  font-size: var(--font-size);
  line-height: var(--spacing-lg);
}

a {
  text-decoration: none;
}

ol {
  font-family: var(--font-family-serif-text);

  @mixin rt 12, 16, 300 1000;
}

.text-link {
  background-color: #454348;
  color: #CAA057;
}
