.c-footer {
  background: var(--color-darkgrey);
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -1000;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    margin: 24px auto;
    max-width: 272px;

    @media screen and (min-width: 768px){
      max-width: 600px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 1000px;
      /*margin: 24 auto;*/
    }
  }

  &__logo {
    background-image: url("/images/raleigh-felton-logo.png");
    background-repeat: no-repeat;
    background-size: 56px 56px;
    flex-grow: 1;
    /*height: 80px;*/
    /*margin-top: 32px;*/

    @media screen and (min-width: 1024px) {
      background-size: 80px;
      flex-grow: 2;
      /*margin-bottom: 10%;*/
      /*margin-top: 10%;*/
    }
  }

  &__title {
    color: var(--color-green);
    /*margin-bottom: var(--spacing-xl);*/
    /*margin-top: var(--spacing-xl);*/
    text-transform: uppercase;

    @media screen and (min-width: 1024px) {
      /*margin-bottom: var(--spacing-xxl);*/
      /*margin-top: var(--spacing-xxl);*/
    }
  }

  &__mail {
    color: var(--color-white);
    flex-grow: 1;
    font-family: var(--font-family-serif);
    font-size: var(--font-size-lg);
    font-style: italic;
  }

  a {
    color: var(--color-white);
    display: block;
    font-size: var(--font-size-xl);

    @media screen and (min-width: 1200px) {
      font-size: var(--font-size-xxl);
    }
  }

  a:hover {
    color: var(--color-green);
  }

  ul {
    flex-grow: 2;
    /*margin-top: 32px;*/

    @media screen and (min-width: 1024px) {
      flex-grow: 3;
      /*width: 360px;*/
    }
  }
}
