.c-header {
  background: #0e0f14;
  height: 668px;
  width: auto;

  @media screen and (min-width: 1024px) {
    display: flex;
  }

  &__title {
    text-shadow: -1px 0px 13px rgb(0, 0, 0, 0.4);
    width: 100%;
    color: #CAA057;
    text-align: center;
    /* float: left; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 384px;

    @media screen and (min-width: 1024px) {
      position:inherit;
      text-align: left;
      margin-left: auto;
      margin-top: 0;
      width: 50%;

      &--about {
        margin-top: 300px;
        padding-left: 46px;
        font-size: 120px;
      }
    }

    @media screen and (min-width: 1200px) {
      margin-left: 10%;
    }

    &--project {
      margin: 0 10%;
      padding-top: 214px;

      h1 {
        line-height: 46px;

        @media screen and (min-width: 1024px) {
          line-height: 84px;
        }
      }
    }
  }

  &__image {
    background-image: url("/images/about-raleighfelton@2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    @media screen and (min-width: 768px) {
      background-position: 150px;
    }

    @media screen and (min-width: 1024px) {
      background-position: 0;
      background-size: 720px;
      width: 50%;
    }
  }

  &__type {
    text-transform: uppercase;


    &--throw {
      color: #37bbc7;
    }

    &--crnt {
      color: #107a94;
    }

    &--substrate {
      color: #0054f3;
    }

    &--react {
      color: #e025f8;
    }

    h5 {
      margin-left: 4px;
      margin-top: -8px;

      @media screen and (min-width: 1024px) {
        margin-top: -16px;
      }
    }

    h1 {
      font-size: 54px;

      @media (min-width: 375px) {
        font-size: 64px;
      }

      @media (min-width: 992px) {
        font-size: 120px;
      }
    }
  }

  &__project {
    /*height: 428px;*/
    height: 52vh;
  }

  h1 {
    margin-top: -16px;

    @media screen and (min-width: 1024px) {
      margin-top: -32px;
    }
  }
}
