.c-header {
  background: var(--color-green);
  height: 668px;
  width: auto;

  @media screen and (min-width: 1024px) {
    display: flex;
  }

  &__title {
    color: var(--color-white);
    float: left;
    margin-left: 10%;
    margin-top: 384px;

    @media screen and (min-width: 1024px) {
      margin-left: auto;
      margin-top: 0;
      width: 50%;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 10%;
    }

    &--project {
      margin: 0 10%;
      padding-top: 214px;

      h1 {
        line-height: 46px;

        @media screen and (min-width: 1024px) {
          line-height: 84px;
        }
      }
    }
  }

  &__image {
    background-image: url("/images/about-raleighfelton@2x.png");
    background-position: -270px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    @media screen and (min-width: 768px) {
      background-position: 150px;
    }

    @media screen and (min-width: 1024px) {
      background-position: 0;
      background-size: 720px;
      width: 50%;
    }
  }

  &__type {
    text-transform: uppercase;

    @media screen and (min-width: 1024px) {
      margin: 226px 5%;
    }

    @media screen and (min-width: 1440px) {
      margin: 226px 20%;
    }

    &--throw {
      color: #37bbc7;
    }

    &--crnt {
      color: #107a94;
    }

    &--substrate {
      color: #0054f3;
    }

    &--react {
      color: #e025f8;
    }

    h5 {
      margin-left: 4px;
      margin-top: -8px;

      @media screen and (min-width: 1024px) {
        margin-top: -16px;
      }
    }
  }

  &__project {
    /*height: 428px;*/
    height: 72vh;

    @media screen and (min-width: 1024px) {
      /*height: 668px;*/
    }
  }

  h1 {
    margin-top: -16px;

    @media screen and (min-width: 1024px) {
      margin-top: -32px;
    }
  }
}
