.c-home-header {
  padding-top: 240px;
  height: 100vh;
  z-index: -1;

  h1 {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url("/images/title-bkgd-m.jpg");
    background-size: 300px;
    font-size: 64px;
    color: transparent;
    text-transform: uppercase;

    @media (min-width: 576px) {
      font-size: 88px;
    }

    @media (min-width: 768px) {
      font-size: 150px;
    }

    @media (min-width: 992px) {
      background-image: url("/images/title-bkgd.jpg");
      background-size: 410px;
      font-size: 226px;
      margin-top: -40px;
    }
  }

  h3 {
    color: var(--color-blue);
  }
}
