.c-home-header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;

  &__title {
    /*background: red;*/
    margin: 35vh auto;
    text-align: center;
  }

  h1 {
    text-transform: uppercase;
    background-clip: text;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/03/2a/63/032a632818c4dd7d2237a86aeb2c073f.jpg);
    color: transparent;
    -webkit-background-clip: text;

    @media screen and (min-width: 1024px) {
      font-size: 248px;
      margin-top: -40px;
    }
  }

  h3 {
    color: #f06bbc;
  }
}
