.c-stat {
  margin: var(--spacing-xxl) 0;
  max-width: 672px;

  p {
    color: var(--color-black);
  }
}

.react-stat, .earnbet-stat {
  p {
    color: var(--color-grey-light);
  }
}

.earnbet-stat {
  a {
    color: #3C90E7;
  }
}
