.c-wrapper {
  align-items: center;
  background: var(--color-white);
  height: 100%;
  /* justify-content: center; */
  margin-bottom: 100vh;

  /*&__container {
    margin: 0 auto;
    max-width: 1440px;
  }*/
}
