.c-wrapper {
  align-items: center;
  background: var(--color-white);
  height: 100%;
  margin-bottom: 100vh;

  &__container {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0px 10%;

    /*@media screen and (min-width: 1440px) {
      max-width: 1440px;
    }*/
  }
}
