/* campfire */
.c-wrapper__momentum {
  background: #F8F3E9;
}

.c-header__type--momentum {
  color: #1E116C;

  h1 {
    font-size: 42px;

    @media (min-width: 768px) {
      font-size: 64px;
    }

    @media (min-width: 992px) {
      font-size: 120px;
    }
  }
}
