/* Uncompany */
.c-wrapper__uncompany {
  background: #152132;
}

.c-header__type--uncompany h1, .c-header__type--uncompany {
  color: #F56565;
  font-size: 46px;

  @media (min-width: 576px) {
    font-size: 4rem;
  }

  @media (min-width: 992px) {
    font-size: 7.5rem;
  }

}

.uncompany-stat {
  a {
    color: #3C90E7;
  }
}
